parameters:
	ignoreErrors:
		-
			message: '#^Call to function assert\(\) with true will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 3
			path: src/EventSub/EventSubMessageProcessor.php

		-
			message: '#^Instanceof between SimplyStream\\TwitchApi\\EventSub\\ConditionInterface and SimplyStream\\TwitchApi\\EventSub\\ConditionInterface will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/EventSub/EventSubMessageProcessor.php

		-
			message: '#^Instanceof between SimplyStream\\TwitchApi\\EventSub\\EventInterface and SimplyStream\\TwitchApi\\EventSub\\EventInterface will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 2
			path: src/EventSub/EventSubMessageProcessor.php

		-
			message: '#^Strict comparison using \!\=\= between bool\|list\<string\>\|string and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/Helix/Api/ChannelPointsApi.php

		-
			message: '#^Strict comparison using \!\=\= between null and string will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/Helix/Models/Streams/CreateStreamMarker.php
